<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pyramid Word Checker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="main-container">
        <div class="heading">
            <h1>Pyramid Word Checker</h1>
        </div>
        <div class="form-container">
            <form action="/" method="POST">
                <div class="form-group">
                    <input type="text" name="inputWord" id="inputWord" placeholder="Enter a word" class="form-control"
                        required>
                </div>
                <button type="submit" name="submit" class="btn btn-primary">CHECK</button>
            </form>
            <p> <%= message %> </p>
        </div>

    </div>

</body>

</html>